/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

.btn {
    background-color: #805215;
}

.header {
    background-color: #FFDBAA;
    color: #553100;
}

body {
    background-color: #D4A76A;
}